* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 { 
    background-color: #081b31;
    color: #fff;
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
}

.user-choice, .comp-choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.user-choices, .comp-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;

}

#user-score, #comp-score {
    font-size: 4rem;

}

.msg-container {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}